@font-face {
  font-family: "CenturyGothic";
  src: url('../fonts/Century-Gothic.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSansRegular";
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "LatoBold";
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "LatoLight";
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: "LatoRegular";
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}