@import "variables";

.welcome {
  background: linear-gradient($blue-color 89%, transparent 11%);
  text-align: center;
  color: #fff;
}

.carousel-item img{
  margin: 0 auto;
}

.carousel-indicators {
  bottom: -46px;

  li {
    max-width: 12px;
    height: 12px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 50%;
    border: 3px solid #dedfe0;
  }
}

.carousel-indicators .active {
  border: 3px solid $blue-color;
}