$font-gotham: "GothamBlackRegular", sans-serif;
$font-main: "OpenSansRegular", sans-serif;
$font-bold: "LatoBold", sans-serif;
$font-latolight: "LatoLight", sans-serif;
$font-latoregular: "LatoRegular", sans-serif;

$blue-color: #709dca;
$light-orange-color: #ffc155;
$orange-color: #ffbb42;
$dark-orange-color: #f6772c;
$grey-color: #868686;
$main-grey-color: #7b7b7b;
$dark-grey-color: #394b50;
$light-grey-color: #99a9ae;